.general {
    padding-right: 5vw;
    padding-left: 5vw;
}

.new {
    margin-top: 5vh;
    background-color: #d4f5f5;
    padding: 0;
    border-radius: 10px;
}

.new-title-container {
    margin: 0;
    background-color: #C44536;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.body {
    width: 100%;
}

.body-text {
    width: 100%;
    word-wrap: break-word;
}