.general {
    padding-right: 5vw;
    padding-left: 5vw;
}

.new {
    margin-top: 5vh;
    background-color: #E7ECEF;
    padding: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.new-title-container {
    margin: 0;
    color: #0c1713;
    background-color: #C44536;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.body {
    width: 100%;
}

.body-text {
    color: #0c1713;
    width: 100%;
    word-wrap: break-word;
}

.carousel {
    max-height: 50vh;
}

.carousel-inner {
    max-height: 50vh;

}

.carousel-item {
    max-height: 50vh;
}

.d-block {
    height: auto;
    width: auto;
    object-fit: cover;
    max-height: 50vh;
}