.general {
    padding-right: 5vw;
    padding-left: 5vw;
}

.new {
    margin-top: 3vh;
    background-color: #E7ECEF;
    padding: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.new-title-container {
    margin: 0;
    padding: 0.5vw;
    text-align: start;
    color: #0c1713;
    background-color: #C44536;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title-text {
    font-size: 2.5rem;
    font-weight: 500;
}

.content {
    padding-bottom: 2vh;
}

.subtitle-container {
    font-size: 2rem;
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.new-abstract {
    font-size: 1.7rem;
    font-weight: bold;
    font-style: italic;
}


.subtitle {
    font-size: 1.5rem;
}

.body {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 100%;
    font-size: 1.3rem;
}

.body-text {
    color: #0c1713;
    width: 100%;
    word-wrap: break-word;
}

.carousel-container {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.carousel {
    max-height: 60vh;
}

.carousel-inner {
    max-height: 60vh;
    border-radius: 20px;
}

.carousel-item {
    max-height: 60vh;
}

.d-block {
    height: auto;
    width: auto;
    object-fit: cover;
    max-height: 60vh;
}

.epigraph {
    color: black;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    border-radius: 7px;
    font-size: 1.2rem;
}

.new-footer {
    font-size: 1.2rem;
    margin-top: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.author {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.category {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.publish-date {
    margin-top: 1vh;
    margin-bottom: 1vh;
}