* {
    font-family: Poppins;
}

.navbar {
    background-color: #C44536;
}

.navbar-brand {
    color: #0c1713;
    font-size: 2rem;
    font-weight: 500;
}

.nav-link {
    color: #0C1713;
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar-brand:hover {
    color: #D4F5F5;
}

.nav-link:hover {
    color: #D4F5F5;
}

