{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link href="{% static 'styles/Footer.css' %}" rel="stylesheet">

<footer class="container-fluid justify-content-between align-items-center">
    <div class="row">
        <div class="col-md-4 justify-content-start text-muted">
            © 2023 Villada CE
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <ul class="list-unstyled d-flex justify-content-end links">
                <li class="ms-3">
                    <a class="text-muted" href="https://www.itsv.edu.ar/itsv/index.php" target="_blank">
                        <i class="bi bi-globe-americas">ITS Villada</i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" href="https://github.com/MateMar04/BoscoNews" target="_blank">
                        <i class="bi bi-github">MateMar04</i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" href="https://www.instagram.com/villada.ce/" target="_blank">
                        <i class="bi bi-instagram">villada.ce</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>